<%- include("partials/header") %>
<div class="balloons">
</div>

<div class="photo-container">
    <div class="content">
        <h1>Gefeliciteerd met u bestelling</h1>
    <img src="/wc papier.jpg" alt="">
    </div>
    
</div>

<%- include ("partials/footer") %>